.addTask {
  position: fixed;
  inset: 0;
  min-height: 100svh;
  background: #eee;
  overflow-y: auto;
  scrollbar-width: none;
  z-index: 3;
  &::-webkit-scrollbar {
    height: 0;
    width: 0;
  }
}

.close {
  position: absolute;
  top: 14px;
  right: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background: transparent;
}
