@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Onest', sans-serif;
}
button {
  border: none;
  font-family: inherit;
}
.container {
  width: 100%;
  padding: 30px 28px;
  margin: 0 auto;
}
