@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Onest', sans-serif;
}
button {
  border: none;
  font-family: inherit;
}
.container {
  width: 100%;
  padding: 30px 28px;
  margin: 0 auto;
}
.error {
  color: #333;
  background: #7e7e7e;
}
.success {
  background: #34a770;
}
.inProgress {
  color: #5f6ddd;
  background: #d2d7ff;
  gap: 10px;
  pointer-events: none;
  &::before {
    content: '';
    display: block;
    width: 23px;
    height: 8px;
    flex-shrink: 0;
    background: url('/images/dots.svg') no-repeat center / contain;
  }
}
.react-datepicker-wrapper {
  width: 100%;
}
.react-datepicker__day--selected,
.react-datepicker__day--in-selecting-range,
.react-datepicker__day--in-range,
.react-datepicker__month-text--selected,
.react-datepicker__month-text--in-selecting-range,
.react-datepicker__month-text--in-range,
.react-datepicker__quarter-text--selected,
.react-datepicker__quarter-text--in-selecting-range,
.react-datepicker__quarter-text--in-range,
.react-datepicker__year-text--selected,
.react-datepicker__year-text--in-selecting-range,
.react-datepicker__year-text--in-range {
  background-color: #7784ee;
  color: #fff;
}
.react-datepicker__current-month,
.react-datepicker-time__header,
.react-datepicker-year-header {
  margin-top: 0;
  color: #000;
  font-weight: 500;
  font-size: 0.944rem;
}
.react-datepicker__current-month::first-letter {
  text-transform: uppercase;
}
.tox .tox-statusbar {
  display: none !important;
}
.priority-0 {
  color: #279600;
  background: #D4EACC;
}
.priority-1 {
  color: #DF8412;
  background: #F9E6D0;
}
.priority-2 {
  color: #FF001F;
  background: #FFCCD2;
}
.priority-3 {
  color: #4577EF;
  background: #CCDAFF;
}

.visible {
  top: 20px;
  bottom: 0;
}


.hidden {
  display: none !important;
}
